body { font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    text-align: center;
    width: 960px;
    font-size: 18px;
    }
    
    header, nav, section, aside, footer{
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    }
    
    
    article{
    background: #777;
    color: #ebebeb;
    line-height: 75px;
    
    
    }
    
    header, nav, footer{
    line-height: 35px;
    margin: 15px;
    }
    
    section, aside{
    line-height: 100px;
    width: 495px
    }
    
    
    
    aside{
    float: right;
    width: 400px;
    line-height: 300px;
    margin-right: 15px;
    
    }
    
    section{
       width: 400px;
      height: 75px;
      margin-right: 20px;
      margin-left: 30px;
      
      
    }
    div, p, {
    background-color: white;
    width: 350px;
    margin-left: 75px;
    }
    
    footer{
    margin-top: 25px;
    
    }
    div, p{
    background-color: #ebebeb;
    line-height: 60px;
    width: 350px;
    margin-left: 75px
    }